##### General Commands #####
alias ls='ls --color=auto'
alias ll='eza -lgF --group-directories-first --time-style=long-iso --git'
alias lla='eza -algF --group-directories-first --time-style=long-iso --git'
alias la='eza -agF --group-directories-first --time-style=long-iso --git'

##### Copy pwd #####
alias cppwd='pwd | xclip -selection c'

##### Brightness #####
alias brightness_max='echo 7500 > /sys/class/backlight/intel_backlight/brightness'

function brightness {
	brightness_percent=$(echo "$1/100" | bc -l)
	new_brightness=$(echo "$brightness_percent*7500" | bc -l)
	echo ${new_brightness%.*} > /sys/class/backlight/intel_backlight/brightness
}

##### Access my vps #####
alias vpsconnect='ssh -L 9090:localhost:8384 -i ~/.ssh/robert-vps_key ubuntu@150.230.30.8'

##### Update the APOD. Useful if the cron job runs while I don't have internet #####
alias update_apod='python3 ~/bin/apod_scraper.py'

##### Displays #####
alias displayconfig='arandr'

##### Audio #####
alias audioconfig='pavucontrol'
alias mknoise='pacat /dev/urandom'

##### vim to nvim #####
alias vim='nvim'

##### pinta to paint #####
alias paint='pinta'

##### Bluetooth #####
#alias bluetoothctl='bluetoothconfig'

##### Image Viewing #####
alias feh='feh -F'

function preview {
	if [ $# -eq 1 ]; then
		kitty +kitten icat $1
	fi
	if [ $# -eq 0 ]; then
		feh -i
	fi
}

##### Dotfile symlink creation #####
alias dotfiles_link='stow --adopt -vt ~ *'

##### Carleton University VPN #####
alias cuconnect='OPENSSL_CONF=$HOME/.config/openssl/openssl.conf openconnect-sso --server cuvpn.carleton.ca/mfa'

alias lanebox='ssh -p 20002 lane@avp-1.sce.carleton.ca'

##### Networking Replacements #####
alias netconfig='printf "netlist: display networks\nnetconnect [SSID] [Password]: connect to network\nnetdelete [SSID]: delete connection\n"'
alias networkconfig='netconfig'

alias netlist='nmcli device wifi list'
alias netgui='nm-connection-editor'

function netconnect {
	if [ $# -eq 1 ]; then
		nmcli device wifi connect $1
	fi
	if [ $# -eq 2 ]; then
		nmcli device wifi connect $1 password $2
	fi
}

function netdelete {
	nmcli connection delete $1
}
